body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 20px;
    height: 100vh; /* Set container to full viewport height */
}

.image-and-form {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    max-width: 95%;
    max-height: 30vh;
    margin-bottom: 9vh;
    margin-top: 10vh;
}

.image-half {
    flex: 1;
}

.image-half img {
    max-width: 100%;
    max-height: 100%; /* Adjust the image size to fit within the .image-half container */
}

.form-half {
    flex: 1;
    padding: 20px;
    background-color: ; /* Light beige color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 20px; /* Add margin to create space between image and form */
}

h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
